@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Roboto+Slab:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: 89.625rem;
  background-color: #f5f6fa;
}
